<!-- Jumbotron -->
<div class="jumbotron">
  <h1 class="tk-adelle">I've got some tools, you need a hand, let&#39;s talk.</h1>
  <p class="lead">Ask for favors, lend out your things, no money involved. Free to borrow or share, 10&cent; to beg.</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Beg</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <span class="sr-only">Note:</span>
      It only costs 10&cent; to beg, but you must add at least $3 to your account at a time.
    </div>
    <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Borrow</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Share</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
  </div>
</div>
