// Twitter Bootstrap
@import "../../../bower_modules/bootstrap/less/bootstrap.less";
@import "../../../bower_modules/bootstrap/less/theme.less";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Bangers);

// Sitewide Styles
html {
  height: 100%;
}
body {
  font: 15px/1.5em 'Open Sans', sans-serif;
  font-weight: 400;
  background: #fff;
}
/*h1, h2, h3, h4, h5, h6 {
  font-family: 'Bangers', cursive;
}*/

[ng-controller='login'] {

}